<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Добавление</title>
</head>

<body>
<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
  <label for="email">E-mail</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br>

  <label for="password">Пароль</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br>

  <label for="firstName">Имя</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br>

  <label for="lastName">Фамилия</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br>

  <label>Roles:
    <input type="checkbox" name="Роли:"
           th:each="role : ${roles}"
           th:text="${role.role}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
  </label>
  <br>

  <input type="submit" value="Добавить пользователя">
</form>
</body>
</html>